Repository swsnu/swpp2019-team6, pull requests merged in 2019-11, with the labels that each got.

#32 [Frontend] Transportation Edit Block
  .travis.yml
  backend/triplannet/sonar-project.properties
  frontend/.eslintrc.js
  frontend/package.json
  frontend/sonar-project.properties
  frontend/src/components/travelblock/TravelUnitBlockEdit.js
  frontend/src/components/travelblock/TravelUnitBlockEdit.test.js
  sonar-project.properties
Labels: Frontend

#34 [Frontend] Activity Edit Block
  frontend/src/App.css
  frontend/src/components/travelblock/TravelActivityBlockEdit.js
  frontend/src/components/travelblock/TravelActivityBlockEdit.test.js
Labels: Frontend

#35 [Frontend] Custom Edit Block
  frontend/src/components/travelblock/TravelCustomBlockEdit.js
  frontend/src/components/travelblock/TravelCustomBlockEdit.test.js
Labels: Frontend

#37 [Frontend] Header Edit Block
  frontend/src/components/travelblock/TravelHeaderBlockEdit.js
  frontend/src/components/travelblock/TravelHeaderBlockEdit.test.js
Labels: Frontend

#45 [Frontend] Create Travel
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/travelblock/TravelActivityBlockEdit.js
  frontend/src/components/travelblock/TravelActivityBlockEdit.test.js
  frontend/src/components/travelblock/TravelCustomBlockEdit.js
  frontend/src/components/travelblock/TravelHeaderBlockEdit.js
  frontend/src/components/travelblock/TravelTransportationBlockEdit.js
  frontend/src/components/travelblock/TravelTransportationBlockEdit.test.js
  frontend/src/containers/createTravel/CreateTravel.js
  frontend/src/pages/CreateTravel.js
Labels: Frontend, help wanted

#49 [Frontend] Google Maps Search Tab
  frontend/src/components/common/DatePicker.js
  frontend/src/components/common/DatePicker.test.js
  frontend/src/components/common/GoogleMapSearch.js
  frontend/src/components/common/GoogleMapSearch.test.js
  frontend/src/components/common/TimePicker.js
  frontend/src/components/common/TimePicker.test.js
  frontend/src/components/travelblock/TravelActivityBlockEdit.js
  frontend/src/components/travelblock/TravelActivityBlockEdit.test.js
  frontend/src/components/travelblock/TravelCustomBlockEdit.js
  frontend/src/components/travelblock/TravelCustomBlockEdit.test.js
  frontend/src/components/travelblock/TravelHeaderBlockEdit.js
  frontend/src/components/travelblock/TravelHeaderBlockEdit.test.js
  frontend/src/components/travelblock/TravelTransportationBlockEdit.js
  frontend/src/components/travelblock/TravelTransportationBlockEdit.test.js
Labels: Frontend

#57 [Setting] Database supports MySQL
  backend/.gitignore
  backend/triplannet/.config/settings_base.json
  backend/triplannet/.config/settings_debug.json
  backend/triplannet/.config/settings_deploy.json
  backend/triplannet/manage.py
  backend/triplannet/sonar-project.properties
  backend/triplannet/triplannet/settings/__init__.py
  backend/triplannet/triplannet/settings/base.py
  backend/triplannet/triplannet/settings/debug.py
  backend/triplannet/triplannet/settings/deploy.py
  backend/triplannet/triplannet/wsgi/__init__.py
  backend/triplannet/triplannet/wsgi/debug.py
  backend/triplannet/triplannet/wsgi/deploy.py
Labels: Backend

#58 [Backend] Google Maps API
  backend/requirements.txt
  backend/triplannet/.config/settings_base.json
  backend/triplannet/mapsapi/__init__.py
  backend/triplannet/mapsapi/admin.py
  backend/triplannet/mapsapi/apps.py
  backend/triplannet/mapsapi/migrations/0001_initial.py
  backend/triplannet/mapsapi/migrations/__init__.py
  backend/triplannet/mapsapi/models.py
  backend/triplannet/mapsapi/tests.py
  backend/triplannet/mapsapi/urls.py
  backend/triplannet/mapsapi/views.py
  backend/triplannet/triplannet/settings/base.py
  backend/triplannet/triplannet/urls.py
Labels: Backend

#59 [Frontend] some test module
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/components/common/Responsive.js
  frontend/src/helper/JsonToDict.js
  frontend/src/store/actions/auth.test.js
  frontend/src/store/actions/user.test.js
  frontend/src/store/reducers/auth.js
  frontend/src/store/reducers/auth.test.js
  frontend/src/store/reducers/userReducer.test.js
Labels: Frontend

#60 TravelSettingsPage
  frontend/.eslintrc.js
  frontend/src/App.js
  frontend/src/components/travel-overview/TravelOverviewList.js
  frontend/src/components/travel-settings/CollaboratorSetting.js
  frontend/src/components/travel-settings/TravelSetting.js
  frontend/src/components/user-info/UserInfoSection.js
  frontend/src/containers/travel-overview/OneTravelOverview.js
  frontend/src/containers/travel-overview/OneTravelOverview.test.js
  frontend/src/containers/travel-overview/PopularTravelOverviewList.test.js
  frontend/src/containers/travel-overview/RecentTravelOverviewList.test.js
  frontend/src/containers/travel-overview/SearchTravelOverviewList.test.js
  frontend/src/containers/travel-overview/UserTravelOverviewList.test.js
  frontend/src/containers/travel-settings/CollaboratorSettingContainer.js
  frontend/src/containers/travel-settings/CollaboratorSettingContainer.test.js
  frontend/src/containers/travel-settings/TravelSettingContainer.js
  frontend/src/containers/travel-settings/TravelSettingContainer.test.js
  frontend/src/containers/user-info/UserInfoSectionContainer.test.js
  frontend/src/pages/TravelSettingsPage.js
  frontend/src/pages/TravelSettingsPage.test.js
Labels: Frontend
