Repository swsnu/swpp2019-team6, pull requests merged in 2019-12, with the labels that each got.

#53 [Frontend] Create Travel DnD
  frontend/package.json
  frontend/src/components/common/GoogleMapSearch.js
  frontend/src/components/common/TravelBlockCloseButton.js
  frontend/src/components/common/TravelBlockCloseButton.test.js
  frontend/src/components/common/TravelBlockExpandButton.js
  frontend/src/components/common/TravelBlockExpandButton.test.js
  frontend/src/components/travelblock/TravelActivityBlockEdit.js
  frontend/src/components/travelblock/TravelActivityBlockEdit.test.js
  frontend/src/components/travelblock/TravelCustomBlockEdit.js
  frontend/src/components/travelblock/TravelCustomBlockEdit.test.js
  frontend/src/components/travelblock/TravelDayBlock.js
  frontend/src/components/travelblock/TravelDayBlock.test.js
  frontend/src/components/travelblock/TravelHeaderBlockEdit.js
  frontend/src/components/travelblock/TravelHeaderBlockEdit.test.js
  frontend/src/components/travelblock/TravelRemoveBlock.js
  frontend/src/components/travelblock/TravelRemoveBlock.test.js
  frontend/src/components/travelblock/TravelTransportationBlockEdit.js
  frontend/src/components/travelblock/TravelTransportationBlockEdit.test.js
  frontend/src/containers/createTravel/CreateTravel.js
  frontend/src/containers/createTravel/createTravel.test.js
  frontend/src/pages/CreateTravel.js
  frontend/src/pages/CreateTravel.test.js
  frontend/yarn.lock
Labels: Frontend, enhancement

#61 [Frontend] Edit User Info Page
  frontend/src/App.js
  frontend/src/components/user-info-edit/EditUserInfo.js
  frontend/src/containers/user-info-edit/EditUserInfoContainer.js
  frontend/src/containers/user-info-edit/EditUserInfoContainer.test.js
  frontend/src/pages/EditUserInfoPage.js
  frontend/src/pages/EditUserInfoPage.test.js
Labels: Frontend

#70 [Frontend] Travel Reducer
  frontend/src/store/actions/actionTypes.js
  frontend/src/store/actions/travel.js
  frontend/src/store/actions/travel.test.js
  frontend/src/store/reducers/travel.js
  frontend/src/store/reducers/travel.test.js
Labels: Frontend

#72 [Frontend] Travel Detail Page
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/components/travelblock/TravelActivityBlockView.js
  frontend/src/components/travelblock/TravelActivityBlockView.test.js
  frontend/src/components/travelblock/TravelDayBlockView.js
  frontend/src/components/travelblock/TravelDayBlockView.test.js
  frontend/src/containers/travelDetail/TravelDetail.js
  frontend/src/pages/TravelDetail.js
  frontend/src/pages/TravelDetail.test.js
  frontend/src/store/actions/index.js
  frontend/src/store/actions/travel.js
  frontend/src/store/reducers/travel.js
  frontend/src/store/reducers/travel.test.js
  frontend/src/store/store.js
Labels: Frontend

#62 [Backend] Travel Model
  backend/triplannet/travel/__init__.py
  backend/triplannet/travel/admin.py
  backend/triplannet/travel/apps.py
  backend/triplannet/travel/migrations/0001_initial.py
  backend/triplannet/travel/migrations/0002_auto_20191124_1554.py
  backend/triplannet/travel/migrations/0003_auto_20191124_1758.py
  backend/triplannet/travel/migrations/0004_remove_travelcommit_photo.py
  backend/triplannet/travel/migrations/0005_auto_20191126_1320.py
  backend/triplannet/travel/migrations/0006_travelday_modified.py
  backend/triplannet/travel/migrations/0007_auto_20191204_0828.py
  backend/triplannet/travel/migrations/0008_auto_20191204_0829.py
  backend/triplannet/travel/migrations/0009_auto_20191204_0832.py
  backend/triplannet/travel/migrations/0010_auto_20191205_0422.py
  backend/triplannet/travel/migrations/__init__.py
  backend/triplannet/travel/models.py
  backend/triplannet/travel/serializers.py
  backend/triplannet/travel/tests.py
  backend/triplannet/travel/urls.py
  backend/triplannet/travel/views.py
  backend/triplannet/triplannet/settings/base.py
  backend/triplannet/triplannet/urls.py
  frontend/yarn.lock
Labels: Backend

#66 [Backend] Google Maps API Place AutoComplete
  backend/triplannet/mapsapi/migrations/0002_autocomplete.py
  backend/triplannet/mapsapi/migrations/0003_auto_20191204_1539.py
  backend/triplannet/mapsapi/models.py
  backend/triplannet/mapsapi/tests.py
  backend/triplannet/mapsapi/urls.py
  backend/triplannet/mapsapi/views.py
Labels: Backend

#68 [Frontend] Google Maps Search Tab
  frontend/package.json
  frontend/src/components/common/GoogleMapSearch.js
  frontend/src/components/common/GoogleMapSearch.test.js
  frontend/src/components/travelblock/TravelActivityBlockEdit.js
  frontend/src/components/travelblock/TravelTransportationBlockEdit.js
Labels: Frontend

#74 [Frontend] Feature create travel with backend
  frontend/src/components/travelblock/TravelHeaderBlockEdit.js
  frontend/src/components/travelblock/TravelHeaderBlockEdit.test.js
  frontend/src/containers/createTravel/CreateTravel.js
  frontend/src/containers/createTravel/createTravel.test.js
  frontend/src/store/actions/travel.js
Labels: Frontend

#86 [Frontend] Hotfix for build
  frontend/src/App.test.js
  frontend/src/components/travel-overview/TravelOverviewList.js
  frontend/src/components/travelblock/TravelHeaderBlockEdit.js
  frontend/src/components/travelblock/TravelHeaderBlockEdit.test.js
  frontend/src/containers/auth/SignupForm.test.js
  frontend/src/containers/createTravel/CreateTravel.js
  frontend/src/containers/createTravel/CreateTravel.test.js
  frontend/src/containers/travel-overview/SearchTravelOverviewList.js
  frontend/src/containers/travel-overview/SearchTravelOverviewList.test.js
  frontend/src/containers/travel-overview/UserTravelOverviewList.js
  frontend/src/containers/travel-overview/UserTravelOverviewList.test.js
  frontend/src/containers/travelDetail/TravelDetail.test.js
  frontend/src/pages/LoginPage.test.js
  frontend/src/store/actions/travel.js
  frontend/src/store/actions/travel.test.js
  frontend/src/store/reducers/travel.test.js
  frontend/src/test-utils/mocks.js
Labels: Frontend, bug

#90 [Backend] Travel Tag
  backend/triplannet/travel/migrations/0011_tag.py
  backend/triplannet/travel/models.py
  backend/triplannet/travel/tests.py
  backend/triplannet/travel/urls.py
  backend/triplannet/travel/views.py
Labels: Backend

#97 [Frontend] Travel settings
  frontend/src/components/travel-settings/TravelSetting.js
  frontend/src/containers/travel-settings/TravelSettingContainer.js
  frontend/src/containers/travel-settings/TravelSettingContainer.test.js
Labels: Frontend

#98 [Frontend & Backend] Collaborator plan section
  backend/triplannet/travel/urls.py
  backend/triplannet/travel/views.py
  frontend/src/containers/common/HeaderContainer.js
  frontend/src/containers/travel-overview/CollaboratorTravelOverviewList.js
  frontend/src/containers/travel-overview/CollaboratorTravelOverviewList.test.js
  frontend/src/containers/travel-overview/UserTravelOverviewList.js
  frontend/src/pages/UserInfoPage.js
  frontend/src/pages/UserInfoPage.test.js
  frontend/src/store/actions/actionTypes.js
  frontend/src/store/actions/index.js
  frontend/src/store/actions/travel.js
  frontend/src/store/reducers/travel.js
  frontend/src/store/reducers/travel.test.js
Labels: Backend, Frontend

#103 [Setting] SonarCloud Bug Fix
  .travis.yml
  README.md
  backend/triplannet/sonar-project.properties
  frontend/sonar-project.properties
  sonar-project.properties
Labels: Setting

#104 [Frontend & Backend] Travel Settings fix
  backend/triplannet/travel/views.py
  frontend/src/components/travel-overview/TravelOverviewBlock.js
  frontend/src/components/travel-overview/TravelOverviewBlock.test.js
  frontend/src/components/travel-overview/TravelOverviewList.js
  frontend/src/components/travel-overview/TravelOverviewList.test.js
  frontend/src/containers/travel-overview/CollaboratorTravelOverviewList.js
  frontend/src/containers/travel-overview/OneTravelOverview.js
  frontend/src/containers/travel-overview/OneTravelOverview.test.js
  frontend/src/containers/travel-overview/PopularTravelOverviewList.test.js
  frontend/src/containers/travel-overview/RecentTravelOverviewList.test.js
  frontend/src/containers/travel-overview/UserTravelOverviewList.js
  frontend/src/containers/travel-overview/UserTravelOverviewList.test.js
  frontend/src/containers/travel-settings/CollaboratorSettingContainer.js
  frontend/src/containers/travel-settings/CollaboratorSettingContainer.test.js
  frontend/src/store/actions/actionTypes.js
  frontend/src/store/actions/index.js
  frontend/src/store/actions/travel.js
  frontend/src/store/reducers/travel.js
Labels: Backend, Frontend

#100 [Backend] Recommendation feature prototype
  backend/requirements.txt
  backend/triplannet/travel/migrations/0012_auto_20191211_0633.py
  backend/triplannet/travel/migrations/0013_travel_views.py
  backend/triplannet/travel/models.py
  backend/triplannet/travel/serializers.py
  backend/triplannet/travel/tests.py
  backend/triplannet/travel/travelembed.py
  backend/triplannet/travel/urls.py
  backend/triplannet/travel/views.py
  backend/triplannet/triplannet/settings/base.py
  frontend/src/store/actions/travel.js
Labels: help wanted

#92 [Frontend] Create Travel Tags
  frontend/src/components/travelblock/TagBlock.js
  frontend/src/components/travelblock/TravelActivityBlockEdit.js
  frontend/src/components/travelblock/TravelActivityBlockEdit.test.js
  frontend/src/components/travelblock/TravelTransportationBlockEdit.js
  frontend/src/components/travelblock/TravelTransportationBlockEdit.test.js
  frontend/src/containers/createTravel/CreateTravel.js
  frontend/src/store/actions/travel.js
Labels: Frontend

#116 [Frontend] Edit Travel
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/components/travelblock/TagBlock.js
  frontend/src/components/travelblock/TravelActivityBlockEdit.js
  frontend/src/containers/createTravel/CreateTravel.js
  frontend/src/containers/travelDetail/TravelDetail.js
  frontend/src/pages/CreateTravel.js
  frontend/src/pages/EditTravel.js
  frontend/src/pages/EditTravel.test.js
  frontend/src/store/actions/actionTypes.js
  frontend/src/store/actions/index.js
  frontend/src/store/actions/travel.js
  frontend/src/store/reducers/travel.js
Labels: Frontend

#114 [Backend] push tags when create a travel
  backend/triplannet/travel/migrations/0001_initial.py
  backend/triplannet/travel/migrations/0002_auto_20191124_1554.py
  backend/triplannet/travel/migrations/0003_auto_20191124_1758.py
  backend/triplannet/travel/migrations/0004_remove_travelcommit_photo.py
  backend/triplannet/travel/migrations/0005_auto_20191126_1320.py
  backend/triplannet/travel/migrations/0006_travelday_modified.py
  backend/triplannet/travel/migrations/0007_auto_20191204_0828.py
  backend/triplannet/travel/migrations/0008_auto_20191204_0829.py
  backend/triplannet/travel/migrations/0009_auto_20191204_0832.py
  backend/triplannet/travel/migrations/0010_auto_20191205_0422.py
  backend/triplannet/travel/migrations/0011_tag.py
  backend/triplannet/travel/models.py
  backend/triplannet/travel/serializers.py
  backend/triplannet/travel/urls.py
  backend/triplannet/travel/views.py
Labels: Backend

#112 [Backend & Frontend] Travel photo
  backend/triplannet/travel/migrations/0012_travelcommit_photo.py
  backend/triplannet/travel/migrations/0014_merge_20191213_2227.py
  backend/triplannet/travel/models.py
  backend/triplannet/travel/serializers.py
  backend/triplannet/travel/urls.py
  backend/triplannet/travel/views.py
  frontend/src/containers/createTravel/CreateTravel.js
  frontend/src/store/actions/travel.js
Labels: Backend, Frontend

#120 [Frontend] Edit travel Bug fix
  frontend/src/components/travelblock/TagBlock.js
  frontend/src/containers/createTravel/CreateTravel.js
  frontend/src/containers/travelDetail/TravelDetail.js
  frontend/src/store/actions/travel.js
Labels: Frontend

#123 [Frontend] Favicon
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
Labels: Frontend

#125 [Frontend & Backend] Comment
  backend/triplannet/travel/migrations/0002_comment.py
  backend/triplannet/travel/migrations/0003_comment_register_time.py
  backend/triplannet/travel/models.py
  backend/triplannet/travel/serializers.py
  backend/triplannet/travel/tests.py
  backend/triplannet/travel/urls.py
  backend/triplannet/travel/views.py
  frontend/package.json
  frontend/src/components/travelDetail/Comment.js
  frontend/src/containers/travelDetail/CommentsLikeContainer.js
  frontend/src/store/actions/actionTypes.js
  frontend/src/store/actions/index.js
  frontend/src/store/actions/travel.js
  frontend/src/store/reducers/travel.js
  frontend/src/store/reducers/travel.test.js
  frontend/yarn.lock
Labels: Backend, Frontend

#126 [Frontend] Create Travel Error Message
  frontend/src/store/actions/travel.js
Labels: Frontend

#128 [Frontend & Backend] Fork
  backend/triplannet/travel/urls.py
  backend/triplannet/travel/views.py
  frontend/public/images/default_profile_image.png
  frontend/src/components/travelblock/TravelActivityBlockEdit.test.js
  frontend/src/components/travelblock/TravelCustomBlockEdit.test.js
  frontend/src/containers/createTravel/CreateTravel.test.js
  frontend/src/containers/travelDetail/InfoTravelDetailContainer.js
  frontend/src/pages/EditTravel.test.js
  frontend/src/store/actions/index.js
  frontend/src/store/actions/travel.js
  frontend/src/store/actions/travel.test.js
Labels: Backend, Frontend

#129 [Frontend & Backend] Edit travel
  backend/triplannet/travel/models.py
  backend/triplannet/travel/urls.py
  backend/triplannet/travel/views.py
  frontend/src/containers/createTravel/CreateTravel.js
  frontend/src/store/actions/travel.js
Labels: Backend, Frontend

#146 [Test] Backend travel test cases
  backend/triplannet/travel/serializers.py
  backend/triplannet/travel/tests.py
  backend/triplannet/travel/urls.py
  backend/triplannet/travel/views.py
Labels: Backend, Test
